
<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button
          [text]="Retour"
          [icon]="buttonIcon">
      </ion-back-button>
          <ion-title>{{title}}</ion-title>
  
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content  padding >
<ion-list no-border>
    <div [innerHTML]="content" class="padding"></div>
  </ion-list>
</ion-content>
