<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button
          [text]="Retour"
          [icon]="buttonIcon">
      </ion-back-button>
     
      <ion-title>Modifier profil</ion-title>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content class="profile">
  <ion-card no-margin>
    <ion-card-content class="bg-profile">
      <div class="circular"  slot="start" [ngStyle]="{ 'background-image': 'url(data:image/jpeg;base64,' + image + ')'}"style="height: 150px;width: 150px;" ></div>
      <ion-button icon-left color="light" (click)="accessCamera1()">
          <ion-icon name="camera"></ion-icon> 
       Camera
        </ion-button>
  
        <ion-button icon-left color="light" (click)="accessGallery1()">
            <ion-icon name="photos"></ion-icon> 
           Galerie
          </ion-button>
      <h1 class="fw500">{{firstname}} {{lastname}}</h1>
      <h2 color="light" >Client</h2>
      {{email}}
    
    </ion-card-content>
  
    <ion-grid fixed no-padding>
      <ion-row>
        <ion-col size="12" padding>

          <ion-list >
   

            <ion-list-header color="light">
                <ion-label color="dark" position="stacked">Mes infos</ion-label>
             
            </ion-list-header>

            <ion-item>
              <ion-label color="dark" position="stacked">Prénom </ion-label>
              <ion-input inputmode="text"[(ngModel)]="firstname"  placeholder="Prénom" ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="dark" position="stacked">Nom </ion-label>
              <ion-input inputmode="text"[(ngModel)]="lastname"  placeholder="Nom" ></ion-input>
            </ion-item>
    
    
            <ion-item>
              <ion-label color="primary" position="stacked"> Adresse  </ion-label>
             <ion-input type="text"  [(ngModel)]="address"></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-label color="primary" position="stacked"> CP  </ion-label>
             <ion-input type="text" [(ngModel)]="cp"></ion-input>
            </ion-item>
        
             <ion-item>
                <ion-label color="primary" position="stacked"> Ville </ion-label>
               <ion-input type="text" [(ngModel)]="city"></ion-input>
             </ion-item>

             <ion-item>
                <ion-label color="primary" position="stacked">Téléphone</ion-label>
               <ion-input type="number"  [(ngModel)]="phone"></ion-input>
             </ion-item>
      


            <ion-button size="full" expand="full" (click)="sendData()" >Enregister</ion-button>
  
    
        
          </ion-list>

  
        </ion-col>
      </ion-row>
    </ion-grid>
  
 
  </ion-card>
  

</ion-content>
