<ion-tabs>

  <ion-tab-bar slot="bottom" >
    <ion-tab-button tab="tab1" color="primary">
      <ion-icon name="list"></ion-icon>
      <ion-label>Appels</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Réglages</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
