
:host {
    ion-content {
      --background: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light))
    }
  
    .circular {
      width: 40px;
      height: 40px;
      position: inherit;
      border-radius: 50%;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      background-size: 100%;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: auto;
      margin-right: auto;
      // margin-bottom: 50px;
    }
  
  }
  
  .profile {
    ion-card {
      width: 100%;
      border-radius: 0;
      background-color: #fff;
      ion-card-content {
        padding: 32px;
        background-color: var(--ion-color-primary);
        color: #fff;
        text-align: center;
  
        img {
        
          border-radius: 50%;
          border: solid 4px #fff;
          display: inline;
          box-shadow: 0 0 28px rgba(255,255,255, .65);
        }
  
        h1 {
          margin-top: .5rem;
        }
      }
    }
  
    ion-item {
      ion-input {
        border-bottom: 1px solid var(--ion-color-tertiary);
      }
    }
  
    ion-buttom {
      button {
        margin: 0;
      }
    }
  
    
  }
  