<ion-header>
    <ion-toolbar  color="primary">
      <ion-title>
      Profil
      </ion-title>
      <ion-buttons slot="end" (click)="edit()">
        <ion-button>
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>


  </ion-header>

  <ion-content class="profile">

      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
   
    
      <ion-card no-margin *ngFor="let item of posts">
        <ion-card-content class="bg-profile">
          <div class="circular"  slot="start" [ngStyle]="{ 'background-image': 'url(data:image/jpeg;base64,' + image + ')'}"style="height: 150px;width: 150px;" ></div>
       
          <h1 class="fw500">{{item.firstname}} {{item.lastname}}</h1>
          <h2 color="light" margin-bottom>Client</h2>
 
        </ion-card-content>


    <ion-item>
     <ion-label color="primary" position="stacked">     Nom </ion-label>
     {{item.firstname}} {{item.lastname}}
    </ion-item>

    <ion-item>
      <ion-label color="primary" position="stacked">   Email </ion-label>
      {{item.email}}
     </ion-item>

     <ion-item>
      <ion-label color="primary" position="stacked">   Adresse </ion-label>
      {{item.address}}   {{item.cp}}    {{item.city}}    
     </ion-item>

     <ion-item>
      <ion-label color="primary" position="stacked">   Télephone </ion-label>
      {{item.phone}} 
     </ion-item>

   

 


     
    <ion-grid fixed no-padding>
        <ion-row>
          <ion-col size="12" padding>
  
            <ion-list margin-bottom  *ngFor="let item of posts">
              <ion-list-header color="light">
                <ion-label class="ion-text-left">Date de création </ion-label>

                {{item.published}}
              </ion-list-header>
            </ion-list>

          </ion-col>
        </ion-row>
      </ion-grid>
    
      </ion-card>
      
    
    </ion-content>
    
