<ion-header>
    <ion-toolbar  color="primary">
      <ion-title>
      PFA interphone
      </ion-title>
      <ion-buttons slot="end"(click)="reset()">
        <ion-button>
          <ion-icon name="refresh"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
    
<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

      <ion-button *ngIf="myCallId" expand="full" color="light" > Connexion : en marche {{myCallId}}</ion-button>
      <ion-button *ngIf="myCallId==null" expand="full" color="light" (click)="reset()"> Mettre à jour ma connexion </ion-button>

      <div *ngIf="showHistory" >
    <ion-list>
            <ion-item  *ngFor="let item of posts" >
              <ion-thumbnail slot="start">
                <div *ngIf="item.notif==1">
                <img src="../assets/imgs/enter.png" width="100px">
               </div>
               <div *ngIf="item.notif==0">
                <img src="../assets/imgs/phone.png" width="100px">
              </div>
                <div *ngIf="item.notif==2">
                <img src="../assets/imgs/close.png" width="100px">
              </div>
              </ion-thumbnail>
              <ion-label class="ion-text-wrap">
                {{item.title}} le <b>{{item.days}}</b> à <b>{{item.hour}}h{{item.minute}}</b>
              </ion-label>
            </ion-item>
    </ion-list>
  </div>
  
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Chargement…">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
  

      <!-- appl *ngIf="showAnswer"-->
      <div *ngIf="showAnswer" style="padding-top:50px;">
      <ion-row style="text-align: center; width: 200px;margin: auto; display: block;">
        <h1> Appel video en cours </h1>
      </ion-row>
      <ion-row>
        <ion-col style="text-align: center; width: 50px;margin: auto; display: block;">
         <img src="../assets/imgs/accept.png" width="100px" (click)='AnswerCall(incomingCallId)'>
         <div style="text-align: center; width: 100px;margin: auto; display: block;">
           Accepter
         </div>
         </ion-col>
         <ion-col style="text-align: center; width: 100px;margin: auto; display: block;">
         <img src="../assets/imgs/refuse.jpg" width="100px"  (click)='HangUp()'>
         <div style="text-align: center; width: 100px;margin: auto; display: block;">
        Refuser
         </div>
       </ion-col>
       </ion-row>
      </div>  
       
  <div  *ngIf="showCommand"  style="padding-top:350px;"  text-center>
             
        


        <ion-item>
          <ion-thumbnail slot="start">
            <img src="../assets/imgs/enter.png" width="100px">
          </ion-thumbnail>
          <ion-label>{{nameblue}}</ion-label>
  
      
        </ion-item>
       <ion-item>
       

        <ion-button size="meduim" color="light" (click)='close()'> Refuser </ion-button>
        <ion-button size="meduim" (click)='open()' >
          <ion-icon name="open"></ion-icon>Ouvrir</ion-button>
      </ion-item>
      </div>  


  <div id="remote" style="position:absolute; top:2px;right:0px;background-color: darkgrey; left: 0; z-index: 0;"></div>

            
</ion-content>


