


:host {
.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
.circular {
  width: 60px;
  height: 60px;
  position: inherit;
  border-radius: 50%;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background-size: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  // margin-bottom: 50px;
}

.call {
  border-radius: 15px 50px;
  background: #0ec254;
  border-radius: 50%;
  padding: 100px;
  width: 50px;
  height: 50px;
}

.call2 {
  border-radius: 15px 50px;
  background: red;
  border-radius: 50%;
  padding: 100px;
  width: 50px;
  height: 50px;
}
}