<ion-header>
  <ion-toolbar  color="primary">
    <ion-title>
     Réglages
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile">

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

    <ion-list-header color="light">
        <ion-label class="fw700">A propos</ion-label>
      </ion-list-header>
    <ion-list>
        <ion-item *ngFor="let item of posts"  (click)="view($event, item)">  
      <ion-label text-left> 
        <b> {{item.title}} </b>
      </ion-label> 
        </ion-item>
        <ion-list-header color="light">
            <ion-label class="fw700">Mon compte</ion-label>
          </ion-list-header>
        <ion-item (click)="editprofil()">  
        <ion-label text-left>  <b> Modifier profil </b></ion-label> 
        </ion-item>
        <ion-item (click)="logout()">  
            <ion-icon name="log-in"></ion-icon>
        <ion-label text-left>  <b> Déconnexion</b></ion-label> 
        </ion-item>
        
       <ion-list-header color="light">
        <ion-label class="fw700">Paramètres avancés</ion-label>
      </ion-list-header>


      <ion-item (click)="newpassword()">  
      <ion-label text-left>  <b> Modifier mot de passe</b></ion-label> 
      </ion-item>

      
      </ion-list>


</ion-content>
