<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button
          [text]="Retour"
          [icon]="buttonIcon">
      </ion-back-button>
     
      <ion-title>{{title}}</ion-title>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content padding>

        <ion-list no-border>     
        <ion-card class="welcome-card" *ngFor="let item of posts" (click)="view($event, item)">
            <img src="item.image" alt="" />
            <ion-card-header>
              <ion-card-title>{{item.title}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-label color="dark" position="stacked"> Date de publication </ion-label>
              <p>{{item.published | date: 'dd/MM/yyyy'}}</p>
            </ion-card-content>
            </ion-card>
   

    </ion-list>

<div [innerHTML]="content" class="padding"></div>

</ion-content>
