<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button
          [text]="Retour"
          [icon]="buttonIcon">
      </ion-back-button>
     
      <ion-title>Mot de passe oublié</ion-title>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content padding>



    <!-- Logo -->

    <ion-list no-border>     
    <div padding-horizontal text-center>
      <div class="logo"></div>
      <h3>
        <ion-text color="light" class="fw700">
        
        </ion-text>
      </h3>
    </div>
    <p>Veuillez entrer un email valide, afin de recevoir un nouveau mot de passe. </p>
    <!-- Register form -->
    <form [formGroup]="onRegisterForm" class="list-form">

      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="person" item-start></ion-icon>
         * Email
        </ion-label>
        <ion-input type="email" [(ngModel)]="email" formControlName="email"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="onRegisterForm.get('email').touched && onRegisterForm.get('email').hasError('required')">
          <ion-text color="light">
      * Email requis.
        </ion-text>
      </p>

   
    </form>

    <div margin-top>
      <ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)="do()" [disabled]="!onRegisterForm.valid"
        tappable>
       Envoyer
      </ion-button>
    </div>



</ion-list>
</ion-content>