<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button
          [text]="Retour"
          [icon]="buttonIcon">
      </ion-back-button>
     
      <ion-title>Nouveau mot de passe</ion-title>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content  padding class="form-content">

      <ion-list no-border>   
      <form class="form" [formGroup]="validations_form"  (ngSubmit)="onSubmit(validations_form.value)">    

           <p>Ajoutez un  nouveau mot de passe </p>

              <ion-item class="border">
                  <ion-label  position="floating"  > 
                      <ion-icon name="lock" item-start></ion-icon>
                       Mot de passe *
                  </ion-label>
                <ion-input type="password" [(ngModel)]="password" formControlName="password"></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.password">
                  <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
              
                
     
           </form>
           <div margin-top>
              <ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)="save()" [disabled]="!validations_form.valid"
                tappable>
                Enregister
              </ion-button>
            </div>
        
       
</ion-list>
</ion-content>