:host {


   
  .error-message
  {
    color: red;
  }

  .validation-errors {
    color: red;
  }


  a {
    background-color: transparent;
    color: #000000;
    text-decoration: underline;
}

a:hover {
  background-color: transparent;
  color: red;
  text-decoration: underline;
}
}
