
<ion-header>
    <ion-toolbar color="primary">
        <ion-title> Inscription</ion-title>
      <ion-buttons slot="start">
          <ion-back-button
          [text]="Retour"
          [icon]="buttonIcon">
      </ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content  padding class="form-content">

  
      <ion-list no-border>   
      <form class="form" [formGroup]="validations_form"  (ngSubmit)="onSubmit(validations_form.value)">    

          <ion-item >
              <ion-label  position="floating"  > 
                  <ion-icon name="person" item-start></ion-icon>
                   Prénom *
              </ion-label>
              <ion-input type="text" [(ngModel)]="firstname" formControlName="firstname"></ion-input>
            </ion-item>


            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.firstname">
                <div class="error-message" *ngIf="validations_form.get('firstname').hasError(validation.type) && (validations_form.get('firstname').dirty || validations_form.get('firstname').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
      
    
        <ion-item class="border">
            <ion-label  position="floating"  > 
                <ion-icon name="person" item-start></ion-icon>
                 Nom *
            </ion-label>
              <ion-input type="text" [(ngModel)]="lastname" formControlName="lastname"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.lastname">
                <div class="error-message" *ngIf="validations_form.get('lastname').hasError(validation.type) && (validations_form.get('lastname').dirty || validations_form.get('lastname').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>

     
            <ion-item class="border">
                <ion-label  position="floating"  > 
                    <ion-icon name="at" item-start></ion-icon>
                     Email *
                </ion-label>
              <ion-input  type="email" [(ngModel)]="email" formControlName="email"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.email">
                <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
      


              <ion-item class="border">
                  <ion-label  position="floating"  > 
                      <ion-icon name="lock" item-start></ion-icon>
                       Mot de passe *
                  </ion-label>
                <ion-input type="password" [(ngModel)]="password" formControlName="password"></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.password">
                  <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
              
                
       
            <ion-grid margin-bottom text-wrap>
                <ion-row>
                      <ion-col size="2">    <ion-checkbox formControlName="terms1"></ion-checkbox>   </ion-col>
                      <ion-col size="10">   J'accepte les <a (click)="goCgu()"> Conditions Générales d'Utilisation </a>  </ion-col>
                </ion-row>
              </ion-grid>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.terms1">
                  <div class="error-message" *ngIf="validations_form.get('terms1').hasError(validation.type) && (validations_form.get('terms1').dirty || validations_form.get('terms1').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
           </form>
           <div margin-top>
              <ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)="signUp()" [disabled]="!validations_form.valid"
                tappable>
                Enregister
              </ion-button>
            </div>
        
       
</ion-list>
</ion-content>